@import "./_vars";

.game-screen {
  min-height: 100vh;
  display: flex;
  justify-content: space-between;

  &__content {
    width: 100%;
    padding: 12.5% 20px 20px 80px ;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: $background-question;
  }

  &__question {
    width: 100%;
    margin-bottom: 25px;
  }

  &__answers {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    align-self: flex-end;
    align-content: center;
  }

  &__answers-wrap {
    margin-bottom: 25px;
  }

  &__title {
    font: normal 600 32px/116% "Inter";
  }
}

@media only screen and (max-width: $lg) {
  .game-screen {
    position: relative;


    &__content {
      padding-left: 20px;
    }

    &__score {
      height: 100%;
      text-align: center;
      position: fixed;
      right: -100%;
      transition: all 0.3s ease;
    }

    .active {
      right: 0;
    }

    &__question {
      text-align: center;
    }
    
    &__answers {
      justify-content: center;
      flex-direction: column;
    }
  }
}



@media only screen and (max-width: $md) {
  .game-screen {
    &__title {
      font-size: 18px;
    }
    &__content {
      padding-top: 42.5%;
    }

  }
}

@media only screen and (max-width: 376px) {
  .game-screen {
    &__score {
      max-width: none;
      width: 100%;

    }
  }
}

@media only screen and (max-width: 376px){
  .game-screen {
    &__answers-wrap {
      margin: 0;
      height: 56px;
      margin-bottom: 5px;
    }
  }
}

  