@import "./_vars";

.reply-button {
  background-color: inherit;
  border: none;
  &__wrap {
    cursor: pointer;
    width: 421px;
    &.valid {
      pointer-events: none;
      .reply-overlay {
        fill: $background-correct;
      }
      path {
        animation: valid-animation 0.5s linear infinite;
      }
    }

    &.invalid {
      pointer-events: none;
      .reply-overlay {
        fill: $background-wrong;
      }
      path {
        animation: invalid-animation 0.5s linear infinite;
      }
    }

    path {
      stroke: $gray;
    }

    &:hover {
      path {
        stroke: $button-inactive;
      }
    }

    .reply-overlay {
      fill: $white;
    }

    .reply-text,
    .reply-letter {
      white-space: pre;
      font-family: "Inter";
      font-size: 20;
      letter-spacing: 0em;
    }

    .reply-letter {
      font-weight: 600;
    }
  }
}

@keyframes valid-animation {
  from {
    stroke: $gray;
  }
  to {
    stroke: $correct;
  }
}

@keyframes invalid-animation {
  from {
    stroke: $gray;
  }
  to {
    stroke: $wrong;
  }
}

@media only screen and (max-width: 440px) {
  .reply-button {
    &__wrap {
      width: 320px;
    }
  }
}
