// breakpoints

$sm: 576px;
$md: 768px;
$lg: 992px;
$ex-lg: 1200px;

//colors

$white: #ffffff;
$button-active: #E87928;
$button-inactive: #FF8B37;
$button-hover: #FFAC70;
$correct: #47D867;
$background-correct: #E6FAEA;
$wrong: #EC6259;
$background-wrong: #FDEEED;
$background-question: #F5F5F7;
$gray: #D0D0D8;
$black: #1C1C21;

